<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"></script>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/api.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <title>Devora API Docs</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand text-primary" href="/">Devora</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              <a class="nav-link" href="/dashboard">Dashboard</a>
              <a class="nav-link active" aria-current="page" href="#">API Docs</a>
              <a class="nav-link" href="/review">Review</a>
            </div>
          </div>
        </div>
      </nav>
      <div class="container-fluid requestBox bg-dark text-light" id="box1">
        <div class="filter critical"></div>
        <div class="container-fluid requestType">GET</div>
        <h3>/switch</h3>
      </div>
      <div class="container-fluid requestBox bg-dark text-light multiline" id="box2">
        <div class="filter random multiBox"></div>
        <div class="container-fluid requestType">GET</div>
        <h3>/random/number/#min/#max</h3>
      </div>
      <div class="container-fluid requestBox bg-dark text-light smallMulti" id="box3">
        <div class="filter random"></div>
        <div class="container-fluid requestType">GET</div>
        <h3>/random/word/#length</h3>
      </div>
    <script src="{{ url_for('static',filename='scripts/reloader.js') }}"></script>
</body>
</html>